In [3]:
import cv2
import dlib
import librosa
import tensorflow as tf
from tensorflow import keras
from sklearn.svm import SVC

In [4]:
import torch
x = torch.rand(5, 3)
print(x)

OSError: [WinError 182] The operating system cannot run %1. Error loading "C:\ProgramData\anaconda3\envs\SuperEnv\lib\site-packages\torch\lib\shm.dll" or one of its dependencies.

In [ ]:
6 Steps  to build Machine Learnig project

![](ml101-6-step-ml-framework.png)

In [1]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 5696-5673

 Directory of C:\GitHub\Python\ML_DS_missclinious

14-09-2023  12:40    <DIR>          .
13-09-2023  01:26    <DIR>          ..
13-09-2023  01:28    <DIR>          .idea
14-09-2023  00:46    <DIR>          .ipynb_checkpoints
13-09-2023  23:21             1,933 01_test.ipynb
13-09-2023  23:26             2,113 02_test_run.ipynb
14-09-2023  12:40             1,563 03_test_run.ipynb
13-09-2023  17:53    <DIR>          env
14-09-2023  12:35           332,025 ml101-6-step-ml-framework.png
               4 File(s)        337,634 bytes
               5 Dir(s)  128,828,416,000 bytes free

In [3]:
!dir

 Volume in drive C is Windows
 Volume Serial Number is 5696-5673

 Directory of C:\GitHub\Python\ML_DS_missclinious

14-09-2023  12:42    <DIR>          .
13-09-2023  01:26    <DIR>          ..
13-09-2023  01:28    <DIR>          .idea
14-09-2023  00:46    <DIR>          .ipynb_checkpoints
13-09-2023  23:21             1,933 01_test.ipynb
13-09-2023  23:26             2,113 02_test_run.ipynb
14-09-2023  12:42             3,012 03_test_run.ipynb
13-09-2023  17:53    <DIR>          env
14-09-2023  12:35           332,025 ml101-6-step-ml-framework.png
               4 File(s)        339,083 bytes
               5 Dir(s)  128,832,049,152 bytes free

In [5]:
a = 6

In [7]:
a = 5

In [8]:
a

5

In [5]:
import seaborn as sns

import pandas as pd

import numpy as np

import matplotlib.pyplot as plt

import warnings

warnings.filterwarnings("ignore")


diamonds = sns.load_dataset("diamonds")

diamonds.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [11]:
>>> diamonds.shape
(53940, 10)

(53940, 10)

In [12]:
diamonds.describe()

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [13]:
diamonds.describe(exclude=np.number)

          cut  color clarity
count   53940  53940   53940
unique      5      7       8
top     Ideal      G     SI1
freq    21551  11292   13065

In [14]:
from sklearn.model_selection import train_test_split

# Extract feature and target arrays
X, y = diamonds.drop('price', axis=1), diamonds[['price']]

In [15]:
# Extract text features
cats = X.select_dtypes(exclude=np.number).columns.tolist()

# Convert to Pandas category
for col in cats:
   X[col] = X[col].astype('category')

In [18]:
# Extract text features
cats = X.select_dtypes(exclude=np.number).columns.tolist()

# Convert to Pandas category
for col in cats:
   X[col] = X[col].astype('category')

In [19]:
>>> X.dtypes
carat       float64
cut        category
color      category
clarity    category
depth       float64
table       float64
x           float64
y           float64
z           float64
dtype: object

SyntaxError: invalid syntax (3661765500.py, line 2)

In [20]:
# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [21]:
import xgboost as xgb

# Create regression matrices
dtrain_reg = xgb.DMatrix(X_train, y_train, enable_categorical=True)
dtest_reg = xgb.DMatrix(X_test, y_test, enable_categorical=True)