Pandas is most commonly used for data wrangling and data manipulation purposes, and NumPy objects are primarily used to create arrays or matrices that can be applied to DL or ML models. Whereas Pandas is used for creating heterogenous, two-dimensional data objects, NumPy makes N-dimensional homogeneous objects.

# Advantges of Numpy Over List

In [3]:
#Numpy vs List Storage

import numpy as np
import sys

#define a list
l = range(1000)
print("Size of a List: ",sys.getsizeof(1)*len(l))

#Define a numpy array
a = np.arange(100)
print("Size of an array: ",a.size*a.itemsize)

Size of a List:  28000
Size of an array:  400

In [7]:
#Numpy vs list : Speed
import time
def using_list():
    t1 = time.time()#Starting / Initial Time
    X = range(10000)
    Y = range(10000)
    z = [X[i]+Y[i] for i in range(len(X))] 
    return time.time() - t1


def using_Numpy():
    t1 = time.time()#Starting / Initial Time
    a = np.arange(10000)
    b = np.arange(10000)
    z = a+b #more convient than a list
    return time.time()-t1

list_time = using_list()
numpy_time = using_Numpy()

print(list_time,numpy_time)

0.0015475749969482422 0.0

# SciPy

It is used for scientific computation and technical computing.

In [9]:
import scipy 
import pandas as pd
#IMPORTING DATA
data = pd.read_csv("mtcars2.csv")
data

     mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0   21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1   21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2   22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3   21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4   18.7    8    NaN  175  3.15  3.440  17.02   0   0     3     2
5   18.1    6  225.0  105  2.76  3.460  20.22   1   0     3     1
6   14.3    8  360.0  245  3.21  3.570  15.84   0   0     3     4
7   24.4    4  146.7   62  3.69  3.190  20.00   1   0     4     2
8   22.8    4  140.8   95  3.92  3.150  22.90   1   0     4     2
9   19.2    6  167.6  123  3.92  3.440  18.30   1   0     4     4
10  17.8    6  167.6  123  3.92  3.440  18.90   1   0     4     4
11  16.4    8  275.8  180  3.07  4.070  17.40   0   0     3     3
12  17.3    8  275.8  180  3.07  3.730  17.60   0   0     3     3
13  15.2    8  275.8  180  3.07  3.780  18.00   0   0     3     3
14  10.4    8    NaN  205  2.93  5.250  17.98   0   0     3     4
15  10.4    8    NaN  215  3.00  5.424  17.82   0   0     3     4
16  14.7    8  440.0  230  3.23  5.345  17.42   0   0     3     4
17  32.4    4   78.7   66  4.08  2.200  19.47   1   1     4     1
18  30.4    4   75.7   52  4.93  1.615  18.52   1   1     4     2
19  33.9    4   71.1   65  4.22  1.835  19.90   1   1     4     1
20  21.5    4  120.1   97  3.70  2.465  20.01   1   0     3     1
21  15.5    8  318.0  150  2.76  3.520  16.87   0   0     3     2
22  15.2    8    NaN  150  3.15  3.435  17.30   0   0     3     2
23  13.3    8  350.0  245  3.73  3.840  15.41   0   0     3     4
24  19.2    8  400.0  175  3.08  3.845  17.05   0   0     3     2
25  27.3    4   79.0   66  4.08  1.935  18.90   1   1     4     1
26  26.0    4    NaN   91  4.43  2.140  16.70   0   1     5     2
27  30.4    4   95.1  113  3.77  1.513  16.90   1   1     5     2
28  15.8    8    NaN  264  4.22  3.170  14.50   0   1     5     4
29  19.7    6  145.0  175  3.62  2.770  15.50   0   1     5     6
30  15.0    8    NaN  335  3.54  3.570  14.60   0   1     5     8
31  21.4    4  121.0  109  4.11  2.780  18.60   1   1     4     2

In [1]:
import pandas as pd
from scipy.cluster.vq import kmeans,vq

#data importing
data = pd.read_csv("mtcars2.csv")

#finding out centroid with the help of kmeans function, here k = 3
centroid = kmeans(data,3)

#Find out cluster  index for each recorded with vector quantization function(i.e. vq(data,centroid))
idx = vq(data,centroid)
# print cluster index
idx

ValueError: array must not contain infs or NaNs