In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
cars = pd.read_csv("mtcars.csv")

## Manipulation

Sometimes we dont need the analysis and cut them in small chunks, sometimes we needs to arrange them in an certain order(ascending or descending), sometimes we may need to set a value to a column or apply a function to a column, sometimes we may also need to apply filter to our dataset-- all of these comes under Pandas Data Manipulation.

## Indexing by position

In [3]:
# View hp column only

cars.iloc[:5,0]

0            Mazda RX4
1        Mazda RX4 Wag
2           Datsun 710
3       Hornet 4 Drive
4    Hornet Sportabout
Name: model, dtype: object

In [8]:
#first five records of hp columns

cars.iloc[0:5,[0,4]]

               model   hp
0          Mazda RX4  110
1      Mazda RX4 Wag  110
2         Datsun 710   93
3     Hornet 4 Drive  110
4  Hornet Sportabout  175